[Desktop Entry]
Name=openSUSE Breeze Dark
Comment=openSUSE Breeze Dark CubicleNate

X-KDE-PluginInfo-Author=Nathan (CubicleNate) Wolf
X-KDE-PluginInfo-Email=me@cubicleNate.com
X-KDE-PluginInfo-Name=opensuse-breeze-dark
X-KDE-PluginInfo-Version=5.79.0
X-KDE-PluginInfo-Website=https://cubiclenate.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=openSUSEdefault
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
